<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue demo</title>
</head>
<body>
    <div id="app" class="mx-3 my-3 px-3 py-3">
        <div class="grid grid-cols-2">
            <div class="px-3">
                <h2 class="mb-5">Input</h2>

                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                    <input v-model="name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    <input v-model="email" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                
                <label for="input" class="block mb-2 text-sm font-medium text-gray-900">Gender</label>
                <div class="grid grid-cols-2 mb-6">
                    <div class="flex items-center">
                        <input v-model="gender" id="gender-1" type="radio" value="Male" name="gender" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="gender-1" class="ms-2 text-sm font-medium text-gray-900">Male</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="gender" id="gender-2" type="radio" value="Female" name="gender" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="gender-2" class="ms-2 text-sm font-medium text-gray-900">Female</label>
                    </div>
                </div>

                <label for="input" class="block mb-2 text-sm font-medium text-gray-900">Programming Languages</label>
                <div class="grid grid-cols-3 mb-6">
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="PHP" id="PHP" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="PHP" class="ms-2 text-sm font-medium text-gray-900">PHP</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="Python" id="Python" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="Python" class="ms-2 text-sm font-medium text-gray-900">Python</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="Nodejs" id="Nodejs" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="Nodejs" class="ms-2 text-sm font-medium text-gray-900">Nodejs</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="Vue" id="Vue" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="Vue" class="ms-2 text-sm font-medium text-gray-900">Vue</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="React" id="React" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="React" class="ms-2 text-sm font-medium text-gray-900">React</label>
                    </div>
                    <div class="flex items-center">
                        <input v-model="programming_languages" value="Angular" id="Angular" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="Angular" class="ms-2 text-sm font-medium text-gray-900">Angular</label>
                    </div>
                </div>

                <label for="input" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
                <div class="grid mb-6">
                    <select id="countries" v-model="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>
                </div>

                <button @click="send_data" class="px-6 py-2 rounded bg-stone-400 hover:bg-stone-500 text-stone-100">Send data to API</button>
            </div>
            <div class="px-3">
                <h2 class="mb-5">Data</h2>

                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Name: {{ name }}</label>
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Email: {{ email }}</label>
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Gender: {{ gender }}</label>
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Programming languages: {{ programming_languages.join(', ') }}</label>
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Country: {{ country }}</label>
                </div>

                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Data sent</label>
                    <pre>{{ data_sent }}</pre>
                </div>

                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">API response</label>
                    <pre>{{ api_res }}</pre>
                </div>
            </div>
        </div>
    </div>

    <script src="./tailwindcss-3.3.5.js"></script>
    <script src="./vue.global-3.3.8.js"></script>
    <script src="./axios.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>